
<h1>メッセージのサンプル</h1>

<p>ログイン</p>
  <%= form_tag :sessions do %>
    <p>名前:<%= text_field_tag "name" %></p>
    <p>パスワード:<%= text_field_tag "password" %></p>
    <p><%= submit_tag "送信" %></p>
  <% end %>






